{% extends "blog.tmpl" %}
{% block title %}Lists{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block body %}
<body class="publish css-settings-manager show-inline-title show-ribbon theme-dark">
  <div class="markdown-preview-view markdown-rendered allow-fold-headings allow-fold-lists is-readable-line-width">
    <div class="markdown-preview-sizer markdown-preview-section">
      <h1 class="page-title heading inline-title" id="Blog">Blogs</h1>
      {% if tag %}
        <p>filter: <a class="tag">#{{ tag }}</a></p>
      {% endif %}

      {% for a in views %}
      <li>{{ a.date }}, 
        <a href="{{ a.id }}">{{ a.title }}.</a>
        {% for tag in a.tags %}
        <a href="?tag={{ tag }}" class="tag">#{{ tag }}</a>
        {% endfor %}
      </li>
      {% endfor %}
      </ul></div><div class="mod-footer mod-ui"></div></div></div>
</body>
{% endblock %}
