<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<script src="/public/js/script.js"></script>
  </head>
  <body>
    <header>
      <div class="content">
        <div class="bg">
          <div></div>
          <div></div>
        </div>
        <div id="header-container">
          <div class="header-item">
            <div style="margin-top: 0px">
              <p class="tagline align-left margin-bottom-0">Henlo, i'am</p>
              <h1 id="name" class="margin-top-0">RIZQI FAJRI</h1>
            </div>
            <div class="flex-container">
              <p class="tagline flex-item">sometimes i do</p>
              <p id="obj" class="tagline flex-item"></p>
            </div>
          </div>
          <div class="header-item">
            <img id="github" src="/public/images/github-mark-white.svg" alt="github" class="icon">
          </div>``
        </div>
      </div>
    </header>
  </body>
</html>
